@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800";
body {
    display: block;
    overflow-x: hidden;
    position: relative;
}
#sitio{
    z-index: 90;
}
#sitio_btn{
    list-style: none;
    z-index: 99999999;
}
#wrapper_total {
    display: block;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}
.texto_sombra {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}
.secciones {
    display: block;
    position: relative;
}
.al_cien {
    display: block;
    position: relative;
    width: 100%;
}
.fondo_tit_emprendedor {
    color: #365000;
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 25px;
}
.fondo_tit_pro {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 54px;
}
#pagina_web {
    color: white;
    font-weight: 800;
}
#lista_emprendedor1 {
    display: block;
    margin-top: 235px;
    position: absolute;
}
#lista_emprendedor2 {
    display: block;
    margin-top: 235px;
    position: absolute;
}
#lista_pro1 {
    display: block;
    margin-top: 235px;
    position: absolute;
}
#lista_pro2 {
    display: block;
    margin-top: 235px;
    position: absolute;
}
#lista_emprendedor1 > li {
    color: #314507;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}
#lista_emprendedor2 > li {
    color: #314507;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}
#lista_pro1 > li {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}
#lista_pro2 > li {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}
#carousel_home {
    height: 600px;
    padding: 0;
    width: 100%;
}
#slides_banners {
    padding: 0;
}
#banner_emprendedor {
    height: 700px;
    padding: 0;
}
#slides_pro {
    padding: 0;
}
#slides_quick {
    padding: 0;
}
#banner_emprendedor > .tapete {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
#banner_emprendedor > .img1 {
    margin-left: 15%;
    margin-top: 110px;
    position: absolute;
    top: 0;
    z-index: 2;
}
#banner_emprendedor > .img2 {
    margin-left: -60%;
    margin-top: 82px;
    position: absolute;
    top: 0;
    z-index: -1;
}
#banner_emprendedor > .img3 {
    bottom: 0;
    margin-bottom: 0;
    margin-left: 60%;
    margin-top: 0;
    position: absolute;
    z-index: -1;
}
#banner_emprendedor > .fondo {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: -4;
}
#banner_pro {
    height: 700px;
    padding: 0;
}
#banner_pro > .tapete {
    margin-left: 15%;
    margin-top: 0;
    position: absolute;
    top: 0;
}
#banner_pro > .img1 {
    margin-left: -40%;
    margin-top: 185px;
    position: absolute;
    top: 0;
    z-index: 2;
}
#banner_pro > .img2 {
    margin-left: -60%;
    margin-top: 82px;
    position: absolute;
    top: 0;
    z-index: -1;
}
#banner_pro > .img3 {
    bottom: 0;
    margin-bottom: 180px;
    margin-left: -70%;
    margin-top: -360px;
    position: absolute;
    z-index: -1;
}
#banner_pro > .fondo {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: -4;
}
#controles_slide_home {
    bottom: 20px;
    left: 370px;
    margin-left: 0;
    padding-left: 0;
}
#menu_content > li > a {
    font-size: 14px;
    padding-bottom: 0;
    padding-right: 5px;
    padding-top: 15px;
    text-align: center;
}
.icono_cont {
    display: inline-block;
    position: relative;
}
.icono_cont_texto {
    display: inline-block;
    position: relative;
}
.al_cien_bienvenido {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
.open_font {
    color: white;
    font-family: "Open Sans";
    font-size: 11px;
}
.open_black {
    color: black;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 9px;
    margin-top: 7px;
}
#el_menu {
    background-color: black;
}
.fijo_fondo {
    bottom: -748px;
    position: absolute;
    right: -170px;
    width: 625px;
    z-index: 1000;
}
.fijo_fondo_actualiza {
    bottom: -781px;
    position: absolute;
    right: 0;
    width: 548px;
    z-index: 1000;
}
#ciudad {
    padding-right: 0;
}
#contacto {
    background-image: url("../images/fondo_contacto.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 540px;
    position: relative;
    width: 100%;
}
#sitios {
    height: 750px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.lo {
    color: black;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 300;
}
.parr_bl {
    color: white;
    font-family: "Open Sans";
    font-size: 27px;
}
#lo_2 {
    color: #5a5a5a;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 300;
}
#creas {
    color: white;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 800;
}
#piensas {
    color: #e46100;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
}
#scroll {
    color: black;
    font-family: "Open Sans";
    margin-top: -30px;
}
#contenido_inicio {
    background-image: url("../images/back_secc1.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    height: 901px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}
#contenido_bienvenido {
    background-image: url("../images/back_secc2.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    height: 779px;
    margin-top: -30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 900;
}
#web {
    background-image: url("../images/back_secc3.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    height: 779px;
    margin-top: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 900;
}
#actualiza {
    background-image: url("../images/back_secc4.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    height: 779px;
    margin-top: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 900;
}
#arte_2 {
    display: block;
    position: relative;
    width: 100%;
}
#arte_inicio {
    display: block;
    position: relative;
}
#inicio_pleca {
    height: 89px;
}
#header_elebegraph {
    background-color: black;
    height: 91px;
}
.img_centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#inico_arte {
    margin-top: 90px;
    width: 641px;
}
#footer_elebe {
    background-image: url("../images/img_footer.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 229px;
    margin-top: -40px;
}
#texto_footer {
    color: #fff200;
    font-family: "Open Sans";
    font-size: 14px;
    margin-top: 100px;
    text-align: center;
}
.verde_secc {
    color: #295c00;
    font-family: "Open Sans";
    font-size: 24px;
}
#bien_tit {
    color: white;
    font-family: "Open Sans";
    font-size: 87px;
    font-weight: 800;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#potenciar {
    font-weight: 800;
}
.parr_negro {
    color: black;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.parrafo_sub {
    color: #484848;
    font-family: "Open Sans";
    font-size: 20px;
}
.stroger {
    font-weight: 600;
}
#salida_sec3 {
    color: #295c00;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
}
.pleca_azul {
    background-color: #02feda;
    display: block;
    height: 5px;
    position: relative;
    width: 100%;
}
#cont_secc2 {
    margin-top: 120px;
}
#cont_secc3 {
    margin-top: 30px;
}
#web_titulo {
    color: white;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
}
#texto_azul {
    color: #033571;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 700;
}
#parr_secc3 {
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
}
.asesoramos {
    color: white;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 800;
}
#sec3_gray {
    color: #acafb2;
}
#consultores {
    color: #74777b;
}
.purple_parr {
    color: #390069;
    font-family: "Open Sans";
    font-size: 20px;
}
.purple_strong {
    font-weight: 800;
}
#gestiona {
    color: #033571;
    font-family: "Open Sans";
    font-size: 39px;
    font-weight: 800;
}
.gray_parr {
    color: #717171;
    font-family: "Open Sans";
    font-size: 15px;
}
.strong_gray {
    font-weight: 800;
}
#tels {
    padding-left: 0;
}
#empre {
    display: block;
    position: relative;
}
#menu_content {
    margin-top: 25px;
}













@media (max-width: 1200px) {
#bien_tit {
    font-size: 46px;
}
#cont_secc2 {
    margin-top: 60px;
}
.fijo_fondo {
    bottom: -747px;
    position: absolute;
    right: -120px;
    width: 525px;
    z-index: 1000;
}
#menu_content {
    display: block;
    float: none;
    margin-top: 30px;
    position: relative;
}
#banner_emprendedor > .img1 {
    margin-left: 2%;
    margin-top: 110px;
    position: absolute;
    top: 0;
    z-index: 2;
}
}















@media (max-width: 992px) {
.fijo_fondo {
    bottom: -747px;
    position: absolute;
    right: -120px;
    width: 525px;
    z-index: 1000;
}
.fijo_fondo_actualiza {
    bottom: -781px;
    right: 0;
    width: 500px;
}
#lo_2 {
    font-size: 60px;
}
#creas {
    font-size: 60px;
}
#menu_content {
    margin-top: 30px;
    display: block;
    position: relative;
    float: none;
}
#banner_emprendedor > .img1 {
    margin-left: 40px;
    margin-top: 110px;
    position: absolute;
    top: 0;
    width: 345px;
    z-index: 2;
}
#banner_emprendedor > .tapete {
    margin-left: -101px;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: -3;
}
#banner_emprendedor > .img3 {
    bottom: 0;
    margin-bottom: 0;
    margin-left: 49%;
    margin-top: 0;
    position: absolute;
    z-index: -1;
}
#lista_emprendedor2 {
    display: block;
    margin-top: 235px;
    position: absolute;
    padding: 0;
}
#lista_pro2 {
    display: block;
    margin-top: 235px;
    position: absolute;
    padding: 0;
}
}
















@media (max-width: 768px) {
#banner_emprendedor > .tapete {
    width: 440px;
}
#menu_content {
    margin-top: 30px;
}
.fijo_fondo_actualiza {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;
    width: 300px;
}
#inico_arte {
    width: 341px;
}
#bien_tit {
    font-size: 50px;
}
#contenido_inicio {
    background-position: right bottom;
    height: 511px;
}
.al_cien_bienvenido {
    margin-top: 9px;
    width: 45%;
}
#salida_sec3 {
    font-size: 20px;
}
.fijo_fondo {
    bottom: -36px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;
    width: 300px;
}
#contacto {
    height: 1080px;
}
#tels {
    padding-left: 0;
    padding-right: 0;
}
#ciudad {
    padding-left: 0;
    padding-right: 0;
}
#logotipo {
    width: 80px;
}
#banner_emprendedor > .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
}
#iphone {
    width: 170px !important;
}
#banner_emprendedor > .img3 {
    margin-left: 140px;
    width: 880px;
}
#texto_emp {
  /*  margin-left: 210px;*/
    width: 560px;
}
#carousel_home {
    height: auto;
}
#lista_emprendedor1 {
    margin-left: -26px;
    margin-top: 135px;
}
#lista_emprendedor2 {
    margin-top: 127px;
}
#lista_pro1 {
    margin-left: -26px;
    margin-top: 130px;
}
#lista_pro2 {
    margin-top: 130px;
}
#controles_slide_home {
    bottom: 20px;
    left: 110px;
    margin-left: 0;
    padding-left: 0;
}

}













@media screen and (max-width: 480px) {
#ciudad {
    padding-left: 0;
    padding-right: 0;
}
#tels {
    padding-left: 0;
    padding-right: 0;
}
#salida_sec3 {
    font-size: 20px;
}
#contenido_inicio {
    height: 430px;
}
#inico_arte {
    width: 241px;
}
#bien_tit {
    font-size: 39px;
}
#cont_secc2 {
    margin-top: 30px;
}
.parr_negro {
    font-size: 14px;
}
.parrafo_sub {
    font-size: 18px;
}
.scroll-btn {
    margin-top: -10px;
}
.al_cien_bienvenido {
    margin-top: 9px;
    width: 69%;
}
#web_titulo {
    font-size: 30px;
}
#parr_secc3 {
    font-size: 14px;
}
.asesoramos {
    font-size: 20px;
}
.fijo_fondo {
    bottom: -16px;
    position: relative;
    right: 0;
    width: 85%;
}
#cont_secc3 {
    height: 750px;
    margin-top: 30px;
}
#contacto {
    height: 1080px;
}
#gestiona {
    font-size: 30px;
}
.blanco_mobil {
    color: white;
}
.fijo_fondo_actualiza {
    bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;
    width: 200px;
}
#sec3_gray {
    color: white;
}
#consultores {
    color: white;
}
.lo {
    font-size: 40px;
}
#lo_2 {
    font-size: 40px;
}
#creas {
    font-size: 40px;
}
#piensas {
    font-size: 40px;
}
.parr_bl {
    font-size: 17px;
}
#banner_emprendedor > .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    position: relative;
    width: 300px;
}
#banner_emprendedor > .img3 {
    margin-left: 0;
    width: 600px;
}
#texto_emp {
    margin-left: 50px;
    width: 560px;
}
#lista_emprendedor1 {
    margin-left: -26px;
    margin-top: 135px;
}
#lista_emprendedor2 {
    margin-top: 127px;
}
#lista_pro1 {
    margin-left: -26px;
    margin-top: 130px;
}
#lista_pro2 {
    margin-top: 130px;
}
.fondo_tit_emprendedor {
    font-size: 13px;
    margin-left: 13px;
}
#banner_emprendedor {
    height: 730px;
    padding: 0;
}
#carousel_home {
    height: 730px;
}
.fondo_tit_pro {
    font-size: 13px;
    margin-left: 13px;
}
#controles_slide_home {
    bottom: -10px;
    left: 54px;
    margin-left: 0;
    padding-left: 0;
}
.open_black {
    font-size: 11px;
}
}
